body {
    background-color: #00085A;
    height: 100vh; 
    margin: 0; 
    display: flex; 
    justify-content: flex-end; 
}

.conteiner {
    width: 60%; 
    height: 100vh;
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}


.sign_up {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 60px; 
    margin-top: -20px;
    background-color: rgb(255, 255, 255);  /*l */
    
}

.borde {
    border-radius: 30px;
    border: 1px solid #7A7485;
     display: block; 
    margin: 10px 0;
    padding: 10px;
    width: 95%;
    height: 25px;

}

.inputs{
    /* background-color: rgb(194, 108, 108); l */
    width: 60%;
    height: 280px;
    
    justify-content: center; 
    align-items: center;
    
    display: flex;
    flex-direction: column;
   
   

}

.img-pm {
    width: 120px;
    height: 100px;
    /* margin-top: 0px; */
    position: absolute; 
    top: 40%; 
    left: 15%;
 
    
}


.login{
    /* padding: 10px 20px; */
    background-color: #00085A;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    
     height: 45px;   /*alto  */

    width: 130px;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.buttons{
   /*   background-color: rgb(227, 174, 174);l */
    width: 60%;
    height: 45px;
     
    padding: 0px;

    margin-top: 10px;
    justify-content: center; 
    align-items: center;
    
    display: flex;
    
    justify-content: space-between
   

}


.cancel{
    /* padding: 10px 20px; */
    background-color: #ffffff;
    color: ·#00085A;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    
     height: 45px;   /*alto  */

    width: 130px;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}




/* Ajustes para pantallas medianas BIEN*/
 @media (max-width: 1024px) {
    .conteiner {
        width: 60%;
        height: 100vh;
    }
    .inputs {
        width: 60%;
        height: 260px;
    }
    .buttons {
        width: 60%;
        height: 40px;
    }
    .login, .cancel {
        width: 120px;
        font-size: 18px;
    }
/* .borde{
    width: 95%;
    height: 30px;

} */
.sign_up {

    margin-top: -30px;  /*ñ */
  
}
 }


@media (max-width: 720px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        height: 100vh; /* Ocupa toda la altura */
        margin: 0;
        background-color: #00085A;
    }

    .conteiner {
        width: 100%; /* Ocupa todo el ancho */
        height: 75vh; /* Ocupa el 70% de la altura */
        background-color: white;
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box; 
    }

    .sign_up {
        font-size: 24px; /* Ajusta el tamaño del título */
        margin-bottom: 20px; /* Espaciado inferior */
        
    }

    .inputs {
        width: 90%; 
        display: flex;
        flex-direction: column;
        gap: 5px; 
    }

  

    .buttons {
        width: 90%; 
        margin-top: 20px; 
        display: flex;
        flex-direction: column; 
        gap: 10px;
    }

    .login, .cancel {
        width: 100%; 
        height: 50px; 
        font-size: 18px; 
        
    }
    .borde {
   
        padding: 10px; 
        
    }

    .img-pm {
        width: 100px;
        height: 80px;
        /* margin-top: 0px; */
        position: absolute; 
        top: 6%; 
        left: 40%;
     
        
    }
    
}


/* .error{
    color: #BE0000;
    size: 14px;
}
  */

 
